@font-face {
  font-family: 'Norsebold';
  src: url('assets/Norsebold.woff2') format('woff2'),
       url('assets/Norsebold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}   