*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-template-areas:
    "sidebar header header"
    "sidebar main main"
    ;
    grid-template-columns: 15rem 2fr 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
}

aside.sidebar{
    grid-area: sidebar;
    background-color: #1992D4;
    color: #FFFFFF;
    padding: 1rem;
    font-weight: 600;

    svg{
        color: #FFFFFF;
    }
}

.menu-icon{
    display: flex;
    align-items: center;
    gap: 0.75rem;

    h1{
        font-size: 1.25rem;
    }
}

.menu-links{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1rem;

    svg{
        width: 18px;
        height: 18px;
    }
}

.page-links, .extra-links{
    display: flex;
    gap: 1.25rem;
    flex-direction: column;
    list-style-type: none;

    li{
        display: flex;
        gap: 1rem;
        justify-content: start;
        align-items: center;
    }
}

header{
    grid-area: header;
    background-color: #FFFFFF;
    color: #151515;
    padding: 0.75rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    z-index: 1;
}

.one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.search-area{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 48rem;

    input{
        border: none;
        outline: none;
        background-color: #E2E8F0;
        font-size: 0.75rem;
        padding: 0.45rem 0.75rem;
        border-radius: 99rem;
        width: 100%;
    }
}

.notis{
    display: flex;
    align-items: center;
    gap: 1rem;

    .main-user{
        width: 2.5rem;
        border-radius: 99rem;
    }

    .user-name{
        font-weight: 700;
        font-size: 0.85rem;
    }
}

.two{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile{
    display:flex;
    align-items: center;
    gap: 1rem;

    .profile-pic{
        width: 3.5rem;
        border-radius: 99rem;
    }

    .user-side{
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        font-weight: 700;

        .greeting{
            font-size: 0.675rem;
        }
        
        .user-name{
            font-size: 1.25rem;
        }
    }
}

.control-buttons{
    display: flex;
    gap: 1rem;

    button{
        color: #ffffff;
        background-color: #1992D4;
        outline: none;
        border: none;
        padding: 0.5rem 1.25rem;
        border-radius: 99rem;
        font-size: 0.725rem;
        cursor: pointer;
    }
}

main{
    grid-area: main;
    background-color: #E2E8F0;
    color: #151515;

    svg{
        width: 18px;
        height: 18px;
    }
}